# Datasets
exercises/data/*
exercises/mnist_cnn_bis/data/*
t10k-images.idx3-ubyte
t10k-labels.idx1-ubyte
train-images.idx3-ubyte
train-labels.idx1-ubyte
t10k-images.idx3-ubyte.gz
t10k-labels.idx1-ubyte.gz
train-images.idx3-ubyte.gz
train-labels.idx1-ubyte.gz
**/data/**

# Archive
archive/v4/img/named_v0-3/
archive/v4/img/unnamed_v0-3/
archive/v4/img/v4/
archive/v4/runs/
archive/v4/notebooks/


# Experiments
experiments/notes/**
experiments/model_checkpoints/**
experiments/runs/**
experiments/src/stereonet/lightning_logs/**

# Src
src/img/**
src/lightning_logs/**
src/log/**
src/runs/**
src/runs/
src/notebooks/

# VSC
.vscode

# TensorBoard
src/runs/**
src/runs

# temporary
**/*.tmp

# PFM files
**/*.pfm

# webp files
**/*.webp

# logs
# **/*.log
src/log/v0-3
src/log/stereo_net_output_*.log
src/log/inference_measurements_*.log
!src/log/sf_train_val_EPE.log
archive/**/*.log

# images dir
src/img/**
# src/img

# pictures
# **/*.jpg
# **/*.JPG
# **/*.png
# **/*.PNG
# !src/img/example_flying_things.png
# !src/img/example_driving.png
# !src/img/example_monkaa.png
# !src/img/example_kitti_2015.png
# !src/img/example_kitti_2012.png
!src/img/results_*.png
!src/img/example_*.png

# draft 
**/DRAFT.ipynb

# virtual enviroments
**/venv/**

# Jupyter stuff
exercises/mnist_cnn_bis/mnist_cnn_bis/
exercises/mnist_cnn_bis/mnist_cnn_bis/Scripts/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Manually added
.idea/
